@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html, body {
  height: 100%;
  font-family: 'Press Start 2P', cursive;
  
}

ul {
  list-style: none;
}

.panel { 
  text-transform: uppercase;
  grid-area: panel; 
  background-color: #111;
  width: 25vw;
}
.editor { 
  grid-area: editor;
  width: 100%;
  height: 65vh;
}
.terminal{ 
  text-transform: uppercase;
  grid-area: terminal; 
  background-color: black;
  height: 35vh; 
  position: relative; 
  overflow: hidden;
  color: blanchedalmond; }
.main {
    height: 100vh;
    display: grid;
    grid: 'panel editor editor editor'
          'panel editor editor editor'
          'panel editor editor editor'
          'panel editor editor editor'
          'panel terminal terminal terminal';
    grid-gap: 0;
    width: 100vw;
    
}
.terminal-text {
   padding: 0;
   margin: 0;
  width: 75vw;
  height: 30vh;
  overflow: scroll;
  padding-bottom: 10px;
  box-sizing:border-box;
}

.button-line {
  padding: 5px; 
  border-bottom: 5px solid red;}
.userinfo {display: flex; flex-flow: row; width: 25vw; height: 8vw;}
.avatar{width: 7vw; height: 7vw; background-color: white; border-radius: 50%; overflow: hidden; margin: 0.5vw}
.avatar img {width: 7vw; height: 7vw;}
.usebuttons {display: flex; flex-flow: column; }
.userbutton {cursor: pointer; display: flex; background-color: red; width: 17vw; box-sizing: border-box; border: 5px solid white; text-align: center; text-transform: uppercase; height: 50%; margin: auto;}
.userbutton p {margin: auto; color: #fff; user-select: none;}
.userbutton:active {background-color: #fff; border: 5px solid #000}
.userbutton:active p {color: #000;}
.avatar img:hover {-webkit-filter: contrast(10000%) grayscale(1);filter: contrast(10000%) grayscale(1);}
.active {background-color: #fff; border: 5px solid #000;}
.active p {color: #000;}
.Tlist{
    width:25vw;
    box-sizing: border-box;
    padding-top: 10px;
    min-height: calc(100vh - 10vh - 8vw);
    color:white;
}
.footer{
    width:25vw;
    height:10vh;
    background-color:red;
    display: flex;
    text-align: center;
    margin: auto;
}
.footer p {color:white; margin: auto}
.listheader {
    display: flex;
    width: 25vw;
    height: 10vh;
    text-align: center;
    margin: auto;
}
.listheader p {margin: auto}
.dashed {
    background:
            linear-gradient(90deg, red 50%, transparent 50%),
            linear-gradient(0deg, red 50%, transparent 50%),
            linear-gradient(90deg, red 50%, transparent 50%),
            linear-gradient(0deg, red 50%, transparent 50%);
    background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
    background-size: 15px 5px, 5px 15px, 15px 5px, 5px 15px;
    background-position: left top, right top, left bottom, left top;
    padding: 5px;
    animation: border-dance 6s infinite linear;
    box-sizing:border-box;
}
ul {padding: 0;}
.questlist {cursor: pointer; background-color: white; color: black; text-align: center; padding: 20px; border-bottom: 2px dashed grey; width: 25vw; word-break: break-all; word-wrap: break-word; box-sizing: border-box;}
.questlist:hover {background-color: black; color: white;}
.questlist:last-of-type {border: 0;}
.hell-rules {width: 100%; height: 65vh; overflow-y:scroll; box-sizing: border-box; padding: 10px;}
.rules-wrapper {display: grid; grid-template-columns: repeat(3, 1fr); column-gap: 10px;}
.hell-heading {text-align: center; color: red;}
@keyframes border-dance
{
    0%
    {
        background-position: left top, right top, right bottom, left bottom;
    }
    100%
    {
        background-position: right top, right bottom, left bottom, left top;
    }
}
