.Tlist{
    width:25vw;
    height: 65vh;
    background-color:black;
    color:white
}
.footer{
    width:25vw;
    height:5vh;
    color:white;
    background-color:red;
}

header{
    text-align:center;
}

